@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: Arimo, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 20px;
    margin-right: 65px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;

}

#top-section {
    display: flex;
    justify-content: center;
    border-radius: 34px;
    background: #d3d3d3;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 32px;
    padding: 100px;
    gap: 20px;
}

#image-disc-container {
    position: absolute;
    transform: rotate(90deg);
    right: -47px;
    bottom: 9%;
}



.logo-container {
    display: flex;
    width: 77px;
    height: 92px;
    border: 3px solid #000;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}
.logo {
    color: #000;
    font-size: 40px;
    padding-left: 1000;

    font-weight: bolder;
    text-decoration: none;
    z-index: 10;
}

header {
    position: absolute;
    width: 1000px;
    height: 294px;
    flex-shrink: 0;
}
header h1 {
    color: #000;
    font-size: 144px;
    font-style: auto;
    font-weight: 700;
    padding-top: 150px;
}

header p {
    position: absolute;
    width: 100%;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18.641px */
    padding-top: 50px;
    padding-bottom: 40px;
    word-wrap: break-word;

}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menu-container {
    margin-left: 1500px;
    display: flex;
    flex: wrap;
    justify-content: end;
    z-index: 14; /* Ensure it's above other elements */

}

#menu {
    position: absolute; /* Position the menu inside the top-section */
    top: 130px; /* Adjust the top space as needed */
    right: 130px; /* Position the menu to the right side */
    cursor: pointer;
    z-index: 13; /* Ensure it's above other elements */
    transition: 0.3s ease-in;
}

#menu:hover {
    background-color: #ff9d00;
    padding: 5px;

}
#proceed-button {
    position: absolute;
    bottom: -450px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
    border-radius: 8px;
    background: #767676;
    width: 148px;
    height: 63px;
    border: 0;
    transition: 0.3s ease-in;
}

#proceed-button:hover {
    background-color: rgb(255, 145, 2);
    color: rgb(255, 255, 255);
    cursor: pointer;
}



/*nav-links*/

.menu-icons{
    width: 300px;
    margin: 0;
    display: none;
    position: absolute; 
    top: 120px;
    right: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 70px;
}


.menu-icons li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 171px;
    height: 55px;
    z-index: 15; /* Ensure it's above other elements */
}


.menu-icons a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: end;
    padding-bottom: 30px;
    transition: ease-in 0.3s;
    z-index: 16; /* Ensure the links are on top of the parent */
}

.menu-icons a:hover {
    color: rgb(255, 145, 2);
    text-decoration: underline;

}


/*Media query for top-section */

@media (max-width: 1060px) {
    body {
      background-color: #555555; /* Example of a background color change */
    }

    #top-section  nav header {
     
        flex-direction: column; /* Stack content vertically on smaller screens */
        padding: 20px;
        z-index: 1;
    }   

    header {
        width: 500px;
        height: 694px;
    }
    header h1 {
        color: #f6f6f6;
        font-size: 72px;
        padding-top: 150px;
        word-wrap: break-word;
        transition: 0.3s ease-in;

    }

    header p {
        font-size: 18px;
        color: #f6f6f6;
        word-wrap: break-word;
        transition: 0.3s ease-in;

    }


    #proceed-button {
        position: absolute;
        bottom: 50px;
         font-size: 18px;
        font-weight: bolder;
        letter-spacing: 3px;
        color: white;
        width: 148px;
        height: 63px;
        border: 0;
        transition: 0.3s ease-in;
    
    }

    #image-disc-container {
       display: none;
    }

    #disc  {
        width: 200px;

    }
    .menu-icons {
        width: 300px;
        /* This ensures it is part of the stacking context */
        z-index: 10;         /* Higher z-index to ensure it's on top */
    }

    .menu-icons li a {
        flex-direction: row;
    }

    .menu-icons a {
        font-size: 16px;
        font-weight: 700;
        justify-content: end;
        z-index: 11;         /* Ensure the links are on top of the parent */
        position: relative;  /* Positioning the links relative to their parent */
    }

    #learn-more-button  {
        position: absolute;
        bottom: 50px;
        width: 200px;
        height: 50px;
        background-color: #ff8c3a;
        border: none;
        padding: 12px 50px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        transition: 0.3s ease-in;

    }
  }




@media (max-width: 440px)  and (max-height: 960px ){

    * {
        padding: 0;
        margin: 0;
    }

    body {
        margin-right: 65px;
        background-color: #ff9d00;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
    }

    #top-section {
        width: 390px;
        height: 700px;
        padding: 6%;
        margin: 13px
    }

    .logo-container {
        width: 47px;
        height: 60px;
    }
    .logo {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }

    header h1 {
        color: #000;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 150px;
        word-break: break-word;
        word-wrap: break-word;
    }

    header p {
        word-wrap: break-word;
    }


}


@media (max-width: 390px)  and (max-height: 844px ){

    * {
        padding: 0;
        margin: 0;
    }

    body {
        margin-right: 65px;
        background-color: #296bbb;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    #top-section {
        width: 360px;
        height: 915px;
        flex-shrink: 0;
        overflow-x: hidden;
    }

    .logo-container {
        width: 47px;
        height: 60px;
    }
    .logo {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


}

/*Main Section*/

main {
    grid-template-columns: 1fr 1fr;
    border-radius: 34px;
    background: rgba(215, 218, 219, 0.862);
    height: auto;
    width: 100%;
    margin: 34px;
    padding: 100px;
    gap: 20px;
    align-items: center;
}

#musicplayer-section {
    text-align: center;
    margin: 20px;
    order: 0;
}

.music-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.music-player {
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#song-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#artist {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

#album-art {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.control-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.control-btn:hover {
    background-color: #45a049;
}

#audio-player {
    width: 100%;
    margin-top: 10px;
}


#pomodoro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 34px;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%; /* Make width percentage-based */
    max-width: 1000px; /* Set a maximum width */
    height: auto; /* Make height flexible */
    max-height: 1000px; /* Set a maximum height */
    margin: 20px auto; /* Center and give some space around */
}

#pomodoro-section h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

#pomodoro-cointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.timer-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.time-display h1 {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2980b9;
}

.start-btn, .break-btn, .reset-btn {
    background-color: #3498db; /* Blue for start */
    background-color: #414141; /* Green for start */
}







/* Footer */
footer {

    border-radius: 34px;
    background: rgba(195, 195, 195, 0.862);
    height: 10vh;
    width: 100vw;
    max-height: 50%;
    max-width: 100%;
    margin: 34px;
    padding: 75px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 20px;

}

.footer-nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: ease-in 0.3s;
}

.footer-nav a:hover {
    text-decoration: none;
    color: #f39c12;
    font-size: 20px;
    font-weight: 700;
    transition: ease-in 0.3s;
}


/* About us */

.about-us {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    z-index: 10; /* Ensure it's above other elements */

}
.about-header {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom:900px;
margin-top: auto;
}

#learn-more-button  a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    transition: ease-in 0.3s;
}

.about-us-p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    }

#learn-more-button {
        margin-top: 300px;
        width: 200px;
        height: 50px;
        background-color: #ff8c3a;
        border: none;
        padding: 12px 50px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        transition: 0.3s ease;
        z-index: 10; /* Ensure it's above other elements */
        transition: 0.3 ease-in;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3));
        
    }

    #learn-more-button:hover {
        background-color: #ffffff;
        border: none;
        padding: 12px 24px;
        font-size: 1.2rem;  /* Slightly larger text on hover */
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s ease;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3));
        transform: scale(1.1); /* Slight scaling effect */
    }
    





/* Css for contact.html */
#contact-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: auto;
}

#contact {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

#contact-p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

/* Form Styling */
#contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

#contact-submit {
    padding: 15px;
    background-color: #ffa200;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#contact-submit:hover {
    background-color: #0056b3;
}

#request_sent {
    font-size: 20px;
    color: #ef850a;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    #contact-container {
        padding: 20px;
    }

    #contact {
        font-size: 30px;
    }

    #contact-p {
        font-size: 14px;
    }
}




/*For Sign up page*/

#sign-up-title  {
    padding-top: 150px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.auth-container {
        margin-bottom: 40px;
    }
    
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    label {
        font-size: 14px;
        font-weight: bold;
    }
    
    input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        width: 100%;
        padding: 15px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    /* Error Styling */
    input.error {
        border: 2px solid red;
    }
    
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    
    /* Styling for the password note */
    .password-note {
        display: block;
        font-size: 12px;
        color: #888;
        margin-top: 5px;
    }
    
    /* Success Message Styling */
    .success-message {
        padding: 20px;
        background-color: #53be6a89; /* Green color */
        color: white;
        font-size: 24px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: none; /* Initially hidden */


    }

    .success-message p {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .success-message button {
        background-color: #d6cfcf;
        color: white;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    #go-back{
        background-color: #d6cfcf;
        color: white;
        border: none;
        padding-top: 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    #go-back a {
    text-decoration: none;
    color: white;
}

    #go-back:hover {
        background-color: #ffba0b;
    }


